@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  display: block;
  height: 100vh;
}

body {
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
  font-family: "Poppins", serif;
}

.btn:before{
  content:"";
  position: absolute;
  left:0;
  top:0;
  width: 0;
  height: 0;
  border-top:2px solid blue;
  border-radius:8px;
  border-right: 2px solid blue;
  animation: border-top-right 2s infinite alternate;
}

.btn:after{
  content:"";
  position: absolute;
  right:0;
  bottom:0;
  width: 0;
  height: 0;
  border-bottom:2px solid white;
  border-radius:8px;
  border-left:2px solid white;
  animation: border-bottom-left 2s infinite alternate;
}

@keyframes border-top-right{
  0% {width:0px; height:0px;}
  25% {width:162px; height:0px;}
  50%{width:162px; height:44px;}
  100%{width:162px; height:44px;}
}

@keyframes border-bottom-left{
  0% {width:0px; height:0px; opacity: 0}
  50% {width:0px; height:0px; opacity: 0}
  50.1%{width:0px; height:0px; opacity:1;}
  75% {width:162px; height:0px; opacity:1;}
  100%{width:162px; height:44px; opacity:1;}
}